# IS 362 Week 7 Assignment

Choose six recent popular movies. Ask at least five people that you know (friends, family, classmates, imaginary friends) to rate each of these movies that they have seen on a scale of 1 to 5. There should be at least one movie that not everyone has seen!
Take the results (observations) and store them somewhere (like a SQL database, or a .CSV file). Load the information into a pandas dataframe. Your solution should include Python and pandas code that accomplishes the following:
1. Load the ratings by user information that you collected into a pandas dataframe.
2. Show the average ratings for each user and each movie.
3. Create a new pandas dataframe, with normalized ratings for each user. Again, show the average ratings for each user and each movie.
4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.
5. [Extra credit] Create another new pandas dataframe, with standardized ratings for each user. Once again, show the average ratings for each user and each movie.

I will start this assignment by loading the modules that will be used to achieve the assignment tasks.

In [31]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format

Now I can open my movie ratings csv and begin to complete the tasks required of the assignment.

In [32]:
movie_ratings = pd.read_csv ("C:/Users/johnj/IS 362 Spring 2018/Week 7 Assignment/movie_ratings.csv", index_col=0)
movie_ratings

,Black Panther,The Strangers,Ready Player One,Tomb Raider 2018,Death Wish 2018,Avengers: Infinity War
John,5,4.00,4.00,4.00,4.00,nan
Jeanine,4,3.00,3.00,nan,5.00,2.00
Eric,2,3.00,nan,nan,nan,nan
Sarah,5,2.00,nan,nan,4.00,4.00
Richard,3,4.00,2.00,4.00,5.00,5.00
Ariel,3,nan,5.00,5.00,nan,3.00

Our table looks good and we have our friends representing the rows and movie titles representing the columns. Each movie is rated by a friend with some movies receiving not ratings at all. Initial criteria for the assignment seems to be fulfilled.

# Average Ratings of Movies By User and Movie

Using the "mean" method we can easily achieve this next step in the assignment.

In [33]:
average_by_friend = movie_ratings.mean(axis=1)
average_by_friend

John      4.20
Jeanine   3.40
Eric      2.50
Sarah     3.75
Richard   3.83
Ariel     4.00
dtype: float64

Our output shows an average review rating for each user across all movies.

Now we will display the ratings for each movie according to all friends.

In [34]:
average_by_movie = movie_ratings.mean()
average_by_movie

Black Panther            3.67
The Strangers            3.20
Ready Player One         3.50
Tomb Raider 2018         4.33
Death Wish 2018          4.50
Avengers: Infinity War   3.50
dtype: float64

This has produced a list of each movie with the average rating calculated across each friend.

# Normalized Ratings by Viewer and Movie

Now I will sort the data with normalized results and see what the outcome produces.

In [35]:
normalized_ratings = (movie_ratings - movie_ratings.min()) / (movie_ratings.max() - movie_ratings.min())
normalized_ratings

,Black Panther,The Strangers,Ready Player One,Tomb Raider 2018,Death Wish 2018,Avengers: Infinity War
John,1.00,1.00,0.67,0.00,0.00,nan
Jeanine,0.67,0.50,0.33,nan,1.00,0.00
Eric,0.00,0.50,nan,nan,nan,nan
Sarah,1.00,0.00,nan,nan,0.00,0.67
Richard,0.33,1.00,0.00,0.00,1.00,1.00
Ariel,0.33,nan,1.00,1.00,nan,0.33

My table seems to have normalized the data and now we can display the results according to each criteria. First we will display our friend data.

In [36]:
normalized_by_friend = normalized_ratings.mean(axis=1)
normalized_by_friend

John      0.53
Jeanine   0.50
Eric      0.25
Sarah     0.42
Richard   0.56
Ariel     0.67
dtype: float64

Next I will display the resulting data by movie.

In [37]:
normalized_ratings_by_movie = normalized_ratings.mean()
normalized_ratings_by_movie

Black Panther            0.56
The Strangers            0.60
Ready Player One         0.50
Tomb Raider 2018         0.33
Death Wish 2018          0.50
Avengers: Infinity War   0.50
dtype: float64

My data has been normalized and I have displayed the ratings by friend and movie. This section of the assignment is complete.

# Standardized Ratings by Viewer and Movie (Extra Credit)

Once again I will transform the data to display it in a standardized format.

In [38]:
standardized_ratings = (movie_ratings - movie_ratings.mean()) / movie_ratings.std()
standardized_ratings

,Black Panther,The Strangers,Ready Player One,Tomb Raider 2018,Death Wish 2018,Avengers: Infinity War
John,1.10,0.96,0.39,-0.58,-0.87,nan
Jeanine,0.28,-0.24,-0.39,nan,0.87,-1.16
Eric,-1.38,-0.24,nan,nan,nan,nan
Sarah,1.10,-1.43,nan,nan,-0.87,0.39
Richard,-0.55,0.96,-1.16,-0.58,0.87,1.16
Ariel,-0.55,nan,1.16,1.15,nan,-0.39

My table seems to have standardized the data and now we can display the results according to each criteria. First we will display our friend data.

In [39]:
standardized_by_friend = standardized_ratings.mean(axis=1)
standardized_by_friend

John       0.20
Jeanine   -0.13
Eric      -0.81
Sarah     -0.20
Richard    0.12
Ariel      0.34
dtype: float64

Lastly, I will display the resulting data by movie.

In [40]:
standardized_by_movie = standardized_ratings.mean()
standardized_by_movie

Black Panther             0.00
The Strangers            -0.00
Ready Player One          0.00
Tomb Raider 2018          0.00
Death Wish 2018           0.00
Avengers: Infinity War    0.00
dtype: float64

# Conclusion

Actual rating may be useful in situations like this example where you want to get a real world result and you are working with one data set. The actual ratings portion shows us an average of the real world numbers and can be indentified easily when comparing to the original csv. Normalizing the data may be useful when comparing multiple data sets or data sets where the scale is not uniform. Normalizing the data puts the original data in a scale from 0-1. This can be useful to gain an accurate comparison among multiple data sets and different values or scales.